body {
  text-align: center;
  font-family: system-ui, sans-serif;
}

.water-walls-form {
  margin: 1rem 0 2rem 0;
}

.grid-container {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}

.grid-col {
  display: flex;
  flex-direction: column-reverse;
  width: 20px;
  margin: 1px;
}

.grid-block {
  height: 20px;
  width: 20px;
  margin: 1px;
}

.gray-wall-block {
  background-color: #c0c0c0;
}

.water-block {
  background-color: #0000ff;
}

.black-wall-block {
  background-color: #000000;
}
